.App {
  display: grid;
  padding: 20px 60px;
  grid-template-columns: 10% 1fr;
}
.header {
  grid-column: 1 / span 2;
  background-color: grey;
  height: 70px;
}
.header__logo {
  max-width: 36px;
}
.navbar {
  background-color: grey;
}
.navbar ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-row: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: lightseagreen;
}
li {
  list-style-type: none;
}
.profile__photo {
  max-height: 217px;
  overflow: hidden;
}
.user__avatar img {
  border-radius: 100%;
  padding: 0 20px;
}
body {
  min-height: 100vh;
  box-sizing: border-box;
  font-weight: 400px;
}
.profile__user,
.user {
  display: flex;
  align-items: center;
  gap: 60px;
}
